# PROBLEM SET - 2

1) What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

Ans: First b(),
            a = 0+2 = 2
            
     Second b(),
            a = 2+2 = 4
            
     Third b(),
            a = 4+2 = 6
            
     Finally, a's value is 6.

2) If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead.

In [78]:
def fileLength(file):
    
    try:     
        #Read the file the content if the file is present
        filecontents = open(file)
        contents = filecontents.read()
        filecontents.close()
        #Printing the length of the file
        print(len(contents),"\n")
    
    #Exception handled when the file is not found
    except:  
        #printing the friendly message
        print('File {} not found.'.format(file))

fileLength('Filelength.txt')
fileLength('Filelngth.txt')

123

File Filelngth.txt not found.

3) Write a class named Marsupial that can be used as shown. Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: 
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below

In [82]:
#creating class named Marsupial
class Marsupial:
   
    #Constructor
    def __init__(main):
        main.content = []

    #List been added
    def put_in_pouch(main, words):
        main.content.append(words)

    #Return the appended list
    def pouch_contents(main):
        return main.content

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

#Printing the list
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [81]:
#creating class named Marsupial
class Marsupial:
   
    #Constructor
    def __init__(main):
        main.content = []
        
    #List been added
    def put_in_pouch(main, words):
        main.content.append(words)

    #Return the appended list
    def pouch_contents(main):
        return main.content
    
class Kangaroo(Marsupial):

     #Extends the Marsupial __init__ constructor
     def __init__(main, x, y):
        Marsupial.__init__(main)
        main.x = x
        main.y = y
        
    #Supports method jump that takes number values dx and dy as input
        main.x += dx
        main.y += dy

    #overloads the __str__ operator
    def __str__(main):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(main.x, main.y)

k = Kangaroo(0, 0)
print(k,"\n")
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents(),"\n")
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)

['doll', 'firetruck', 'kitten']

I am a Kangaroo located at coordinates (3,0)

4) Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.

In [32]:
#Function Collatz Defined
def collatz(x):
    sequence = [];
    while x>1:
        sequence.append(x);
        
        #Verifying if x is even or odd
        if ((x % 2)==0):
             x = x // 2
        else:
             x= 3 * x + 1
        
    sequence.append(1);
    return sequence;
 
print(">>>collatz(1):",collatz(1),"\n")
print(">>>collatz(10):",collatz(10))

>>>collatz(1): [1]

>>>collatz(10): [10, 5, 16, 8, 4, 2, 1]

5) Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [45]:
# Binary() method
def binary(x):
   if x == 0:
       return "0"
   else:
       binary(x // 2)
       print(str(x % 2),end="")
            
#Printing out the binary representations
print(binary(0),"\n")  
binary(1)
print("\n")
binary(3)
print("\n")
binary(9)

0

1

11

1001

6) Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document.  Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [55]:
#Import the Library
from html.parser import HTMLParser       

#Open the html file
file_html = open(r'w3c.html')     
contents = str(file_html.read())

#Subclass of HTMLParser
class HeadingParser(HTMLParser):         
  
    def __init__(self):                    
        HTMLParser.__init__(self)
        self.flag = 0 
    
    def handle_starttag(self, tag, attrs):                     
        
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7':
            self.flag += 1                                     
        else:
            self.flag = 0
            
    def handle_data(self, data):           
        if self.flag and data!='\n':            
            print('{} {} '.format(self.flag*' ', data))


parser = HeadingParser()                   
parser.feed(contents)

  W3C Mission


   Principles

7) Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [83]:
#Import the Library
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Web(HTMLParser): 

    def __init__(main, url): 
        HTMLParser.__init__(main)
        main.url = url
        main.links = []

    def handle_starttag(self, tags, attribute): 
        if tags == 'a':
            for attrs in attribute:
                if attrs[0] == 'href': 
                    abs = urljoin(self.url, attrs[1])
                    if abs[:4] == 'http':
                        self.links.append(abs)
                        
#Returns the Hyperlink URL
    def getLinks(self): 
        return self.links
    
#webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent
def webdir(url, depth, indent):
   
    try:
        depthvalue = int(depth)
        indentvalue = int(indent)
        
        if depthvalue < 0 or indentvalue < 0:      
            raise ValueError
            
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        links = collector.getLinks()              

        if indentvalue == 0:
            print('{}'.format(url))

        indentvalue = indentvalue + 4
        depthvalue = depthvalue - 1
        
        if depthvalue >= 0:
            for link in links:                         
                print('{}{}'.format(indentvalue*' ', link), end = '\n')
                if (depthvalue) > 0: 
                    webdir(link, depthvalue, indentvalue)          
                
    except ValueError:
        print("Please enter the correct value")
        
webdir('https://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    https://reed.cs.depaul.edu/lperkovic/test3.html
        https://reed.cs.depaul.edu/lperkovic/test4.html

8) Write SQL queries on the below database table that return.
a) All the temperature data    
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [62]:
#create and insert the details in sql table
import sqlite3
con = sqlite3.connect('RiniDBfile.db')
cur = con.cursor()
cur.execute("CREATE TABLE temp_details (City text, Country text, Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO temp_details VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO temp_details VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO temp_details VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO temp_details VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO temp_details VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO temp_details VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO temp_details VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO temp_details VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO temp_details VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO temp_details VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO temp_details VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO temp_details VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [63]:
cur.execute('SELECT * FROM temp_details')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data.

In [67]:
cur.execute('SELECT temperature FROM temp_details')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [69]:
cur.execute('SELECT DISTINCT City FROM temp_details')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [70]:
cur.execute("SELECT * FROM temp_details WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [71]:
cur.execute("SELECT * FROM temp_details WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [72]:
cur.execute("SELECT City,country,Season FROM temp_details WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [73]:
cur.execute("SELECT City,country FROM temp_details WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [76]:
cur.execute("SELECT SUM(Rainfall) FROM temp_details WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

h) The total rainfall for each season.

In [77]:
cur.execute("SELECT SUM(Rainfall) FROM temp_details GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

9) Write list comprehension expressions that use list words and generate the following lists.

In [8]:
List_words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# List to the UpperCase
List_words_1 = [i.upper() for i in List_words]  
print(List_words_1,"\n")

# List to the LowerCase
List_words_1 = [i.lower() for i in List_words] 
print(List_words_1,"\n")

# Length of the words
List_words_1 = [len(i) for i in List_words] 
print(List_words_1,"\n")

# Uppercase, Lowercase and length of the word
List_words_1 = [[i.upper(),i.lower(),len(i)] for i in List_words] 
print(List_words_1,"\n")

# List of words with length greater than 4
List_words_1 = [i.lower() for i in List_words if len(i)>=4] 
print(List_words_1,"\n")

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']